<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wetcon.PactwarePlugin.OpcUaServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="PluginName" value="OPC UA Server" />
    <add key="PluginDescription" value="PACTware OPC UA Server Plugin" />
    <add key="PluginManufacturerName" value="wetcon GmbH" />
    <add key="PluginManufacturerUrl" value="https://www.wetcon.de" />
    <add key="PluginReadIOProcessData" value="true" />
    <add key="log4net.Internal.Debug" value="true" />    
    <add key="EnableOptimizedDesignerReloading" value="false" />    
  </appSettings>

  <log4net threshold="ALL">
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\wetcon\PACTwarePlugins\OpcUaServer\Logs\OpcUaServerPlugin.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2mb" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="OpcUaServer PACTware Plugin" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <mapping>
        <level value="DEBUG" />
        <eventLogEntryType value="Information" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <eventLogEntryType value="Information" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <eventLogEntryType value="Warning" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <eventLogEntryType value="Error" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <eventLogEntryType value="Error" />
      </mapping>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  
  <userSettings>
    <Wetcon.PactwarePlugin.OpcUaServer.Properties.Settings>
      <setting name="UserOpcServerUri" serializeAs="String">
        <value />
      </setting>
    </Wetcon.PactwarePlugin.OpcUaServer.Properties.Settings>
  </userSettings>
</configuration>
