<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">    
    <Product 
        Id="*"
        Name="OPC UA Server PACTware 5 Plugin"
        Manufacturer="wetcon gmbh"
        UpgradeCode="0808f106-4c36-4424-8ba1-643d921724f1"
        Language="1033"
        Version="$(var.Version)">
        
        <Package 
            Id="*" 
            Keywords="Installer" 
            Description="OPC UA Server PACTware 5 Plugin Installer"
            InstallerVersion="200"
            Languages="1033"
            Compressed="yes"
            InstallPrivileges="elevated"/>

        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"/>
    
        <Media Id="1" Cabinet="OpcUaServerPlugin.cab" EmbedCab="yes"/>
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="ManufacturerFolder" Name="wetcon">
                    <Directory Id="ProductFolder" Name="OpcUaServer">
                        <Directory Id="INSTALLDIR" Name="PACTware 5.0"/>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
                
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Icon Id="icon.ico" SourceFile="..\..\..\Wetcon.PactwarePlugin.OpcUaServer.Plugin\Resources\favicon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <Property Id="ALLUSERS" Value="1"/>
        <Property Id="ARPCONTACT" Value="wetcon GmbH" />
        <WixVariable Id="WixUIDialogBmp" Value="..\..\..\Wetcon.PactwarePlugin.OpcUaServer.Plugin\Resources\DialogBitmap.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value="..\..\..\Wetcon.PactwarePlugin.OpcUaServer.Plugin\Resources\BannerBitmap.bmp" />        
        <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)agb.rtf" Overridable="yes"/>
        <UIRef Id="WixUI_InstallDir"/>
        <UIRef Id="WixUI_ErrorProgressText" />

        <Feature Id="ProductFeature" Title="OPC UA Server PACTware 5 Plugin" Level="1">
            <!-- obj/PACTwarePlugin.wxs, generated by Heat.exe -->
            <ComponentGroupRef Id="PACTwarePlugin" />
            <!-- RegistryEntries.PW5.wxs -->
            <ComponentGroupRef Id="RegistryEntriesPW5" />
        </Feature>

        <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
        <Condition Message="!(loc.NET462NotInstalled)">
            ((NOT UPGRADINGPRODUCTCODE) AND REMOVE) OR (WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED)
        </Condition>
    
        <Property Id="PW5" Secure="yes">
            <RegistrySearch Id="SearchPW5" Root="HKLM" Key="SOFTWARE\PACTware\PACTware 5.0" Name="PATH" Type="raw" />
        </Property>

        <Condition Message="!(loc.PWNotInstalled)">
            ((NOT UPGRADINGPRODUCTCODE) AND REMOVE) OR NOT(PW5="")
        </Condition>

    </Product>
</Wix>
